extends layout/app

block contenido
    div(class="flex justify-center items-center")
        div(class="py-5 max-w-[400px] flex items-center")
            h1(class="bg-red-700 hover:bg-red-800 px-3 py-2 rounded-md text-4xl uppercase font-extrabold text-center text-white") RECURSO NO ENCONTRADO

    h1(class="mt-10 text-4xl text-center uppercase font-extrabold") 404 PAGE NOT FOUND
    div(class="flex justify-center items-center")
        img(class="img-fluid", src="/img/img_2.png", alt="404")